@charset "utf-8";
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}

html {
    font-size: 62.5%
}

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
    display: block
}

body {
    margin: 0px auto;
    font-size: 1.6rem;
    color: #333;
}

img {
    border: none;
}

button,
submit {
    cursor: pointer;
}

li {
    list-style-type: none;
}

ul {
    list-style: none;
}

i {
    font-style: normal;
}

a:link,
a:visited {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #920783;
    text-decoration: none;
}

.cl {
    clear: both;
}

.fr {
    float: right
}

.fl {
    float: left
}

.mar {
    margin: 0px auto;
}

input {
    outline: none;
}

.trans {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

a.mask,
.mask {
    text-decoration: none;
    overflow: hidden;
    display: block;
}

img.zoom-img:hover {
    -webkit-transform: scale(1.15);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 750ms;
    -moz-transform: scale(1.15);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 750ms;
    overflow: hidden;
}

img.zoom-img {
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}

.wap {
    display: none;
}

.box {
    margin: 0 auto;
    width: 1313px;
}

/*手机端主菜单*/

.navMenubox {
    width: 100%;
}

.navMenu-top {
    padding: 10px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .1)
}

.navMenu>li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #F1F1F1;
}

.navMenu>li>a {
    display: block;
    overflow: hidden;
    line-height: 40px;
    transition: all .3s;
    position: relative;
    font-size: 14px;
    padding: 0 8px 0 15px;
}

.navMenu li a:hover {
    background: none;
    color: #333;
}

.navMenu li a .arrow:before {
    display: block;
    float: right;
    margin-top: 1px;
    margin-right: 5px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f107";
    font-weight: 300;
    text-shadow: none;
}

.navMenu li a .arrow.open:before {
    float: right;
    margin-top: 1px;
    margin-right: 5px;
    display: inline;
    font-family: FontAwesome;
    height: auto;
    font-size: 16px;
    content: "\f105";
    font-weight: 300;
    text-shadow: none;
}

.navMenu>li>a.active,
.navMenu>li>a:hover {}

.navMenu>li>ul.sub-menu,
.navMenu>li>ul.sub-menu>li>ul.sub-menu {
    display: none;
    list-style: none;
    clear: both;
    padding-bottom: 5px;
}

.navMenu>li.active>ul.sub-menu,
.navMenu>li>ul.sub-menu>li.active>ul.sub-menu {}

.navMenu>li>ul.sub-menu li {
    background: none;
    margin: 0px;
    padding: 0px;
    border-top: 1px dashed #f1f1f1
}

.navMenu>li>ul.sub-menu li>a {
    display: block;
    font-size: 14px;
    line-height: 36px;
    padding-left: 30px;
    color: #333;
    clear: both;
    padding-right: 10px;
}

.navMenu>li>ul.sub-menu li>a.active,
.navMenu>li>ul.sub-menu li>a:hover,
.navMenu>li>ul.sub-menu>li.active>a {
    color: #FFF;
    background: #920783;
}

.header-menu {
    width: 100%;
    position: fixed;
    z-index: 999999;
    background: rgba(255, 255, 255, 1);
    height: 123px;
    top: 0;
    left: 0;
}

.header-menu .box {
    position: relative;
    width: 100%;
}

.header-menu .logo {
    position: absolute;
    left: 75px;
    top: 40px;
}

.header-menu .logo a {
    display: block
}

.header-menu .menu {}

.menu-top {
    position: absolute;
    right: 67px;
    top: 20px;
    z-index: 999;
}

.menu-top .sear {
    float: left;
    width: 166px;
    height: 27px;
    border: 1px solid #EBEBEC;
    border-radius: 27px;
    background: #FCFCFF;
    position: relative;
    padding: 0 25px 0 10px;
}

.menu-top .sear .input {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5px;
    top: 1px;
    background: url(../images/sear-ico1.png) center no-repeat;
    cursor: pointer;
    border: none;
}

.menu-top .sear .text {
    width: 100%;
    height: 25px;
    border: none;
}

.menu-top a {
    display: inline-block;
    line-height: 27px;
    font-size: 14px;
    margin-left: 22px;
}

.menu-top a.on {
    color: #920783;
}

/* 必要布局样式css */

.aui-header-nav {
    float: right;
    z-index: 999;
    transition: all 0.45s ease-in-out;
    width: 100%;
    text-align: right;
}

.aui-header-nav.moveDown {
    transition: all 0.45s ease-in-out;
}

.aui-header-nav .wrapper {
    position: relative;
    /* padding: 0 10px; */
    margin: 0 auto;
}

.aui-header-nav .wrapper .aui-top-nav {
    position: absolute;
    right: 0;
    top: 0;
}

.aui-top-nav .menu {
    -webkit-user-select: none;
    user-select: none;
    height: 123px;
}

.aui-top-nav .menu>li {
    float: left;
    width: 160px;
    text-align: center;
    height: 123px;
    padding-top: 57px;
}

.aui-top-nav .menu>li>a {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    padding: 0 5px;
    font-size: 20px;
    line-height: 55px;
    color: #000;
    position: relative;
}

.aui-top-nav .menu>li>a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #920783;
    margin: 0 auto;
    right: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.aui-top-nav .menu>li:hover a::after,
.aui-top-nav .menu>li a.active::after {
    width: 100%;
}

.aui-top-nav .menu>li a.active {
    color: #920783;
}

.aui-header-nav.solid .aui-top-nav .menu>li>a {
    color: #383838;
}

.aui-top-nav .menu>li .panel {
    position: fixed;
    top: 122px;
    left: 0;
    right: 0;
    height: 350px;
    min-height: 350px;
    padding-top: 0;
    filter: alpha(opacity=100) \9;
    opacity: 1;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
    z-index: -1;
    /*visibility: hidden;
    visibility: visible\9;
    display: none\9;*/
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
}

.aui-header-nav.solid {
    background-color: #fff;
    background-color: #fff\9;
    border-bottom: 1px solid #f0f1f2;
    transition: all 0.5s ease-in-out;
}

.aui-top-nav .menu>li:hover,
.aui-top-nav .menu>li:hover li {
    background: #F8F8F8;
}

.aui-top-nav .menu>li:hover .panel {
    filter: alpha(opacity=100) \9;
    opacity: 1;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
    z-index: 1;
    visibility: visible;
    display: block\9;
}

.aui-top-nav .menu>li:hover .panel a {
    background: none;
}

.aui-top-nav .menu>li .panel .panel-box {
    position: absolute;
    right: 0;
    top: 0;
}

/*.aui-top-nav .menu >li .panel .panel-box img{max-width: 100%;vertical-align: bottom;}
.aui-top-nav .menu >li .panel .panel-box .catname{position: absolute;bottom:188px;left:242px;font-size:60px;color: #fff;
  text-shadow:0 0 10px #000
}*/

.aui-top-nav .menu>li .panel .panel-box .navlist {
    float: right;
    margin-right: 40px;
}

.aui-top-nav .menu>li .panel .panel-box .navlist ul {
    width: 100%;
    float: left;
}

.aui-top-nav .menu>li .panel .panel-box .navlist li {
    float: left;
    text-align: center;
    width: 164px;
}

.aui-top-nav .menu>li .panel .panel-box .navlist li a {
    display: block;
    font-size: 18px;
    color: #383838;
}

.aui-top-nav .menu>li .panel .panel-box .navlist li a:hover {
    color: #910783;
}

.div-box {
    width: 100%;
    float: left;
}

.menu-join-text {
    position: absolute;
    right: 40px;
    bottom: 40px;
    text-align: left;
    line-height: 30px;
    color: #910783;
}

.footer {
    width: 100%;
    background: #F8F8F8;
    padding: 26px 0 0 0;
    border-top: 3px solid #920783;
}

.footer .box {
    width: 1560px;
    margin: 0 auto;
    height: 200px;
    padding-top: 30px;
}

.section.footer .box {
    height: 487px;
}

.footer .top-logo {
    width: 100%;
    float: left;
    text-align: left;
}

.footer .footer-l {
    float: left;
    max-width: 600px;
}

.footer .footer-l .footer-share {
    width: 100%;
    padding-left: 74px;
    text-align: left;
    margin-top: 0;
    float: left;
}

.footer .footer-l .footer-share span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #a2a2a2;
}

/*.footer .footer-l .footer-share a{display: inline-block;vertical-align: middle;width:25px;height: 25px;margin-left:5px;}*/

.footer .footer-l .footer-share a.fx1 {
    background: url(../images/fx1.png) center no-repeat;
}

.footer .footer-l .footer-share a.fx2 {
    background: url(../images/fx2.png) center no-repeat;
}

.footer .footer-l .footer-share a.fx3 {
    background: url(../images/fx3.png) center no-repeat;
}

.footer .footer-l .footer-share a.fx4 {
    background: url(../images/fx4.png) center no-repeat;
}

.footer .footer-ewm {
    float: left;
    margin: 45px 0;
    margin-left: 48px;
    width: 380px;
}

.footer .footer-ewm .ewm-li {
    float: left;
    width: 150px;
    position: relative;
    margin-right: 25px;
}

.footer .footer-ewm .ewm-li .t {
    width: 100%;
    height: 38px;
    line-height: 36px;
    font-size: 14px;
    border: 1px solid #8e8e8e;
    border-radius: 20px;
    padding: 0 15px;
}

.footer .footer-ewm .ewm-li .t span {
    float: left;
    height: 36px;
    width: 100%;
}

.footer .footer-ewm .ewm-li .t span.wx {
    background: url(../images/wechatIcon.png) right center no-repeat;
}

.footer .footer-ewm .ewm-li .t span.wb {
    background: url(../images/weiboIcon.png) right center no-repeat;
}

.footer .footer-ewm .ewm-li .ewm-pic {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    background: #F1F1F1;
    text-align: center;
    padding: 6px;
    display: none;
}

.footer .footer-ewm .ewm-li .ewm-pic img {
    max-width: 100%;
}

.footer .footer-ewm .ewm-li .ewm-pic p {
    text-align: center;
    font-size: 14px;
    padding-bottom: 5px;
    color: #333;
    margin-top: 0;
}

.footer .footer-ewm .ewm-li:hover .ewm-pic {
    display: block;
}

.footer .footer-ewm .list {
    float: left;
    margin-left: 20px;
    width: 200px;
    margin-right: 50px;
}

.footer .footer-ewm .list img {
    width: 100%;
}

.footer .footer-ewm p {
    color: #333;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    display: block;
}

.footer .footer-r {
    float: right;
    margin-top: 0;
}

.footer .footer-r p {
    display: block;
    text-align: right;
}

.footer .footer-r p a {
    display: inline-block;
    margin-left: 74px;
    font-size: 18px;
}

.footer .footer-r .copyright {
    display: block;
    text-align: right;
    margin-top: 20px;
    line-height: 36px;
    font-size: 14px;
    color: #333;
}

.footer .footer-r .copyright p {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.footer-share .share {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.navi_head {
    height: 123px;
    background: #fff;
    text-align: right;
    float: right;
    overflow: hidden;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.navi_body {
    padding-right: 21px;
    background: #fff;
}

.navi_head:hover {
    height: 500px;
}

.navi_head>div>span {
    width: 160px;
    text-align: center;
    height: 500px;
    display: inline-block;
    vertical-align: top;
}

.navi_head>div>span>p a {
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
}

.navi_head>div>span>p a:hover {
    text-decoration: none;
}

.navi_title {
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 15px;
    padding-top: 54px;
    padding-bottom: 15px;
}

.navi_head>div>span>p.navi_title a {
    font-size: 20px;
}

.navi_head>div>span:hover {
    background: #F8F8F8;
}

.navi_head>div>span:hover .navi_title,
.navi_head p.active {
    background: url(../images/nav-line.png) center bottom no-repeat;
}

.header-menu-list {
    width: 100%;
    position: relative;
    display: block;
}

.header-menu-list ul {
    float: right;
}

.header-menu-list li {
    float: left;
    width: 166px;
    text-align: center;
    height: 123px;
    padding-top: 80px;
}

.header-menu-list li.nav-li {
    position: relative;
}

.header-menu-list li a {
    font-size: 18px;
}

.header-menu-list li:hover {
    background: url(../images/menu-libg.png);
}

.header-menu-list li:hover::after,
.header-menu-list li.active::after {
    background: url(../images/nav-line.png) bottom center no-repeat;
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: -6px;
    left: 0;
    z-index: 99991;
}

.header-menu-list li .subnav {
    display: none;
    z-index: 9999;
    width: 100%;
    position: absolute;
    top: 123px;
    left: 0;
    background: url(../images/menu-libg.png);
    padding: 20px 0;
    line-height: 60px;
    text-align: center;
}

.header-menu-list li .subnav a {
    display: block;
}

.header-menu-list li:hover .subnav {
    display: inline-block;
}

.header-menu-list li:hover .subnav a {
    background: none;
}

.nav-home-all {
    width: 100%;
    background: url(../images/menu-libg.png);
    position: absolute;
    top: 123px;
    left: 0;
    padding: 20px 0;
    display: none;
}

.nav-home-all dl {
    float: right;
}

.nav-home-all dd {
    float: left;
    width: 166px;
    text-align: center;
    line-height: 35px;
    height: auto;
    padding-top: 0;
    min-height: 50px;
}

.nav-home-all dd a {
    font-size: 18px;
    display: block;
}

.nav-home-all dd:hover::after {
    display: none;
}

.nav-home-all dd:hover {
    background: none;
}

.header-menu-list li.home:hover .nav-home-all {
    display: block;
}

.header-menu-list li.home:hover,
.header-menu-list li.home:hover::after {
    background: none;
}

.header-menu-list li.home a {
    position: relative;
    padding-bottom: 19px;
    display: block;
}

.header-menu-list li.home a::after {
    background: url(../images/nav-line.png) bottom center no-repeat;
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: -6px;
    left: 0;
    z-index: 99991;
    display: none;
}

.header-menu-list li.home:hover a::after {
    display: block;
}

.header-menu-list li.home:hover dd a::after {
    display: none;
}